.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.continents-title {
  text-align: center;
}

.continents {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 0;
}

.continents li {
  width: 24%;
  height: 100px;
  text-align: center;
  border: 1px solid lightgray;
}

.continents li :link, li :visited {
  text-decoration: none;
  font-size: 2em;
  color: black;
}

.countries h1 {
  text-align: center;
}

.countries ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 0;
}

.countries ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24%;
  height: 200px;
  text-align: center;
  border: 1px solid lightgray;
}

.countries ul li :link, li :visited {
  text-decoration: none;
  font-size: 2em;
  color: black;
}

.countries ul li p {
  width: 100%;
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country div{
  font-size: 2em;
}
